.bottomMargin {
  margin-bottom: 5%;
}

.pad {
  padding: 5%;
}

.topMargin {
  margin-top: 5%;
}

.leftMargin {
  margin-left: 8%;
}

#map {
  height: 65vh;
}

.topPad {
  padding-top: 2.5%;
}

.bottomPad {
  padding-bottom: 5%;
}

.smallBottom {
  margin-bottom: .15%;
}

img {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  object-fit: cover;
}

header>h1 {
  margin: 0;
}

header>h5 {
  margin-top: 0;
}

#submit {
  margin: 10% 0;
}

#form {
  margin-top: 5%;
  margin-left: 2%;
  padding-bottom: 1.8%;
}


/*li.list {
  display: flex;
  justify-content: flex-start;
}*/

#recipe {
  padding: 2% 0;
}

#close {
  margin-top: -11%;
}

#modalList {
  border-right: black solid 1px;
  height: 356px;
  overflow: scroll;
  text-align: left;
}

#modal1 {
  overflow: hidden;
}


/*#modal {
  height: 100%;
}*/

.catImg {
  padding: 0 !important;
  width: 100%;
  height: 20vh;
  overflow: hidden;
  object-fit: cover;
}

.loading>img {
  width: 20%;
  height: 20%;
}

.myBut {
  height: 50%;
  font-size: 95%
}

.notImg {
  width: 50%;
  height: 100%
}

.rightMargin {
  margin-right: 5%;
}

h5 {
  margin-top: 0;
}

/*#mainList>div {
  display: flex;
  ;
}*/

@media (max-width: 995px) {
  #form {
    margin-left: 5%;
    width: 90%;
  }
  .container {
    width: 100%;
  }
  .catGif {
    width: 90%;
  }
  #modal1 {
    top: 0 !important;
    height: 100vh !important;
    max-height: none;
    width: 100%;
  }
  #modalList, #modalBody {
    width: 100%;
    height: 36vh;
    overflow: scroll;
    font-size: 1.5em;
  }
  /*#head{
    position: fixed !important;
  }*/
}
